// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.strech-horizontal {
  width: 100%;
}

.fixed-width {
  width: 30%;
}

.form-header {
  background-color: #8DC63F;
  color: #FFFFFF;
  box-shadow: 10px 10px 5px #ccc; 
    -moz-box-shadow: 10px 10px 5px #ccc; 
    -webkit-box-shadow: 10px 10px 5px #ccc; 
    -khtml-box-shadow: 10px 10px 5px #ccc;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 2px;
  border-radius: 5px;
}

.form-content {
  box-shadow: 10px 10px 5px #ccc; 
    -moz-box-shadow: 10px 10px 5px #ccc; 
    -webkit-box-shadow: 10px 10px 5px #ccc; 
    -khtml-box-shadow: 10px 10px 5px #ccc;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 2px;
  border-radius: 5px;
}

.text-black {
  color: #333333;
}

.glyphicon-big-link {
  font-size: 3em;
  cursor: pointer;
}

.glyphicon-big {
  font-size: 1.5em;
}

.edit-form-description {
  display: inline;
}

#availability_timeslot_timerenge {
  width: 40vw;
}

.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #8dc63f 0%, #c5e29d 100%);
}

.slider-tick.in-selection {
    background-image: linear-gradient(to bottom, #8dc63f 0%, #c5e29d 100%);
}

.slider-handle {
    background-color: #8dc63f;
    background-image: linear-gradient(to bottom, #7db234 0%, #8dc63f 100%);
}

.btn-default {
    background-color: #8DC63F;
    border-color: #ccc;
    color: #FFFFFF;
}

.btn-default:hover {
  background-color: #aed676;
  color: #FFFFFF;
}

.error-well {
  background-color: #F2DEDE;
  color: #a94442;
  border-color: #a94442;
  border-style: solid;
  border-width: thin;
  margin-top: 2%;
}

.summary-description-content-red {
  border-width: medium;
  border-color: red;
  border-style: solid;
}

.summary-description-header-red {
  background-color: red;
}

.summary-description-content-yellow {
  border-width: medium;
  border-color: yellow;
  border-style: solid;
}

.summary-description-header-yellow {
  background-color: yellow;
}

.summary-description-content-green {
  border-width: medium;
  border-color: green;
  border-style: solid;
}

.summary-description-header-green {
  background-color: green;
}

.equal-cells-width-4 {
  td {
    width: 25%;
    text-align: center;
  }
  td.row-header {
    text-align: left;
  }
}

.chartkick-container {
  height: 100px;
}

.table-arrow {
  color: #8DC63F;
  text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

tr.light td{
  color: grey;
}

tr.summary td{
  color: #8DC63F;
  font-weight: bold;
  border-top: medium double #ddd !important;
}

tr.bold { 
  td {
    font-weight: bold;
  }
  :first-child {
    color: #8DC63F;
  }
  :not(:first-child){
  }
}
